gperf
cmake
pkgconfig
sentencepiece
llama-cpp-python
sentence-transformers
faiss-cpu
tiktoken
python-docx
PyMuPDF
pytorch
pandas
openpyxl
rouge-score
transformers
langdetect
matplotlib
seaborn
reportlab





